<!DOCTYPE HTML>
<html>
  <head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Arimo">
   <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="red">Index</div>
    {{if not .}}
    <form action="login" method="POST">
      <div>
        <label for="username">Username:</label><br>
      </div>
      <div>
        <input type="text" id="username" name="username"><br>
      </div>
      <div>
        <label for="password">Password:</label><br>
      </div>
      <div>
        <input type="password" id="password" name="password">
      </div>
      <div>
        <input type="submit" value="Login">
      </div>
    </form>
    {{else}}
      Welcome {{.Username}}
      <div>
        <a href="/restricted">Restricted</a>
      </div>
      <form action="logout" method="POST">
        <div>
          <input type="submit" value="Logout">
        </div>
      </form>
    {{end}}
  </body>
</html>
