<!DOCTYPE HTML>
<html>
  <head>
    {{ template "head" .}}
    <title>home - chest</title>
  </head>
  <body>
    {{ template "header" . }}
    <main>
      {{if not .User}}
      <div class="squish">
        <div class="form-wrapper">
        <form action="login" method="POST">
          <div>
            <label for="username">Username:</label><br>
          </div>
          <div>
            <input type="text" id="username" name="username"><br>
          </div>
          <div>
            <label for="password">Password:</label><br>
          </div>
          <div>
            <input type="password" id="password" name="password">
          </div>
          <div>
            <input type="submit" value="Login">
          </div>
        </form>
        <div>
      </div>
      {{ else }}

        <div class="file-navigation">
          {{ .Path }}
        </div>
        {{ if .File }}
          <div>
            <div>
              {{ .File.Name }}
            </div>
            <div>
              {{ .File.Mime }}
            </div>
          </div>
        {{ else }}
          <div class="grid">
            {{ $Path := .Path }}
            {{ range $f := .Entries }}
              <div class="grid-element">
                <a href="files{{ $Path }}{{ $f.Name }}">
                  <div class="grid-element-text-icon">
                    {{ if $f.IsDir }}
                        📁
                    {{ else }}
                      📄
                    {{ end }}
                  </div>
                  <div class="grid-element-filename">
                    {{ $f.Name }}
                  </div>
                </a>
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </main>
  </body>
</html>
