<!DOCTYPE HTML>
<html>
  <head>
    {{ template "head" .}}
    <title>home - chest</title>
  </head>
  <body>
    {{ template "header" . }}
    <main>
      {{ if .User }}
        <div class="file-navigation">
          {{ .Path }}
        </div>
        {{ if .File }}
          <div>
            <div>
              {{ .File.Name }}
            </div>
            <div>
              {{ .File.Mime }}
            </div>
          </div>
        {{ else }}
          <div class="grid">
            {{ $Path := .Path }}
            {{ range $f := .Entries }}
              <div class="grid-element">
                <a href="{{ $Path }}/{{ $f.Name }}">
                  <div class="grid-element-text-icon">
                    {{ if $f.IsDir }}
                        📁
                    {{ else }}
                      📄
                    {{ end }}
                  </div>
                  <div class="grid-element-filename">
                    {{ $f.Name }}
                  </div>
                </a>
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </main>
  </body>
</html>
