<!DOCTYPE HTML>
<html>
  <head>
    {{ template "head" .}}
    <title>home - chest</title>
  </head>
  <body>
    {{ template "header" . }}
    <main>
      {{ if .User }}
        {{ if .File }}
          <div class="file-navigation">
            {{ slice .Path 12 }}
          </div>
          <div class="action-bar">
            <div class="action-item" aria-description="Go back">
              <a href="{{ .ParentPath }}">
                <div>
                  Back
                </div>
              </a>
            </div>
          </div>
          <div>
            <div>
              {{ .File.Name }}
            </div>
            <div>
              {{ .File.Mime }}
            </div>
            <div>
              <a href="/chest/download?path={{ .Path }}">
                Download
              </a>
            </div>
          </div>
        {{ else }}
          <div class="file-navigation">
            {{ slice .Path 12}}/
          </div>
          <div class="action-bar">
            {{ if ne .ParentPath "/." }}
              <div class="action-item" aria-description="Go back">
                <a href="{{ .ParentPath }}">
                  <div>
                    Back
                  </div>
                </a>
              </div>
            {{ end }}
            <div class="action-item" aria-description="New Folder">
              <a href="/chest/mkdir?path={{.Path}}">
                <div>
                  New Folder
                </div>
              </a>
            </div>
            <div class="action-item" aria-description="New File">
              <a href="">
                <div>
                  New File
                </div>
              </a>
            </div>
          </div>
          <div class="grid">
            {{ $Path := .Path }}
            {{ range $f := .Entries }}
              <div class="grid-element">
                <a href="{{ $Path }}/{{ $f.Name }}">
                  <div class="grid-element-text-icon">
                    {{ if $f.IsDir }}
                      📁
                    {{ else }}
                      📄
                    {{ end }}
                  </div>
                  <div class="grid-element-filename">
                    {{ $f.Name }}
                  </div>
                </a>
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </main>
  </body>
</html>
