<!DOCTYPE HTML>
<html>
  <head>
    {{ template "head" .}}
    <title>login - chest</title>
  </head>
  <body>
    {{ template "header" . }}
    <main>
      {{if not .User}}
      <div class="squish">
        <div class="form-wrapper">
        <form action="login" method="POST">
          <div>
            <label for="username">Username:</label><br>
          </div>
          <div>
            <input type="text" id="username" name="username" autocomplete="username"><br>
          </div>
          <div>
            <label for="password">Password:</label><br>
          </div>
          <div>
            <input type="password" id="password" name="password" autocomplete="password">
          </div>
          <div>
            <input type="submit" value="Login">
          </div>
        </form>
        <div>
      </div>
      {{ end }}
    </main>
  </body>
</html>
