<!DOCTYPE HTML>
<html>
  <head>
    {{ template "head" .}}
    <title>upload file - chest</title>
  </head>
  <body>
    {{ template "header" .}}
    <main>
      <form action="/chest/mkdir" method="POST">
        <input type="hidden" name="base" value="{{slice .Path 12}}">
        <div>
          <input type="text" name="name" placeholder="Folder name">
        </div>
        <div>
          Readable group:
          <select name="read-group">
            {{ range $group := .User.Groups }}
              <option value="{{$group}}">{{$group}}</option>
            {{ end }}
          </select>
        </div>
        <div>
          Writeable group:
          <select name="write-group">
            {{ range $group := .User.Groups }}
              <option value="{{$group}}">{{$group}}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <input type="submit" value="Create folder">
        </div>
      </form>
    </main>
  </body>
</html>
