<!DOCTYPE HTML>
<html>
  <head>
    {{ template "head" .}}
    <title>upload file - chest</title>
  </head>
  <body>
    {{ template "header" .}}
    <main>
      <form action="upload" method="POST" enctype="multipart/form-data">
        <div>
          <input type="text" name="name" placeholder="name">
        </div>
        <div>
          <input type="file" name="file">
        </div>
        <div>
          <select name="group">
            {{ range $group := .User.Groups }}
            <option value="{{$group}}">{{$group}}</option>
            {{ end }}
          </select>
        </div>
        <div>
          <input type="submit" value="Upload file">
        </div>
      </form>
    </main>
  </body>
</html>
